@charset "UTF-8";

/*

	@author Kostas
	
*/

/***************************************************

Iš Arvydo Jurkaičio poezijos rinkinio
"...Iki pirmųjų gaidžių...arba provincijos poezija" 
(Utena, 1992)

--

Besarmatės mano akys
Tavo kojomis klajoja,
Tavo liemeniu dailiuoju
Ir mažyte krūtine!..

Besarmatės mano akys
Tarsi alkanos žuvėdros,
Gal jau valanda kaip ryja
Šokių salėje Tave...

***************************************************/

body {
	color: #000;
}

pre {
	padding: 2px;
	line-height: 18px;
}

.value {
	color: #080;	
}

a {
	border: none;
	cursor: pointer;
	color: inherit !important;
	text-decoration: none;
	border-bottom: 1px solid #080;
}

#content {
	position: absolute;
}

.item {
	line-height: 20px;
}



